*.pyc
.idea/
/rtmbot.conf
.gitkeep
env
/debug.log
*.dump
staticfiles

# environment files
.env.*

# Translations
*.mo
*.pot
# database migrations
django_foodbot/*/migrations/*

# staticfiles
django_foodbot/staticfiles/
